GitHub - username/email
https://www.jetbrains.com/idea/download/?section=windows - IntelliJ Java IDE
https://www.jetbrains.com/pycharm/download/?section=windows - PyCharm Python IDE
https://git-scm.com/ - Git Command Line
https://developer.android.com/studio?gad_source=1&gclid=Cj0KCQjwtpLABhC7ARIsALBOCVo48OVjPZuHnyZ1lJI4OxQEgzx-FqDVB53sJ9KI3Tf4XODHIyjFnzkaAg6ZEALw_wcB&gclsrc=aw.ds Mobile Testing 
https://nodejs.org/en - NODE JS
https://www.zaproxy.org/download/ - OWASP ZAP - Security Testing
https://maven.apache.org/ - Maven 
https://www.oracle.com/java/technologies/downloads/#java17
https://www.python.org/ftp/python/3.13.3/python-3.13.3-amd64.exe